body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:586px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:957px;
}
#u518 {
  position:absolute;
  left:140px;
  top:0px;
  width:446px;
  height:957px;
}
#u519 {
  position:absolute;
  left:2px;
  top:470px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u520 {
  position:absolute;
  left:520px;
  top:195px;
  width:16px;
  height:16px;
}
#u521 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u522 {
  position:absolute;
  left:303px;
  top:229px;
  width:120px;
  height:120px;
}
#u523 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:30px;
}
#u524 {
  position:absolute;
  left:223px;
  top:406px;
  width:16px;
  height:30px;
}
#u525 {
  position:absolute;
  left:2px;
  top:7px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u526 {
  position:absolute;
  left:221px;
  top:464px;
  width:20px;
  height:25px;
}
#u527 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u528 {
  position:absolute;
  left:256px;
  top:435px;
  width:250px;
  height:1px;
}
#u529 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u530 {
  position:absolute;
  left:256px;
  top:493px;
  width:250px;
  height:1px;
}
#u531 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:379px;
  top:601px;
  width:127px;
  height:16px;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u534 {
  position:absolute;
  left:221px;
  top:539px;
  width:285px;
  height:40px;
  font-size:16px;
}
#u535 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u536 {
  position:absolute;
  left:314px;
  top:751px;
  width:99px;
  height:16px;
  color:#0099FF;
}
#u537 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u538 {
  position:absolute;
  left:221px;
  top:601px;
  width:57px;
  height:16px;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u540 {
  position:absolute;
  left:481px;
  top:467px;
  width:25px;
  height:19px;
}
#u541 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
}
#u542 {
  position:absolute;
  left:178px;
  top:140px;
  width:375px;
  height:26px;
}
#u543 {
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u544 {
  position:absolute;
  left:265px;
  top:694px;
  width:35px;
  height:35px;
}
#u545 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u546 {
  position:absolute;
  left:346px;
  top:694px;
  width:35px;
  height:35px;
}
#u547 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u548 {
  position:absolute;
  left:425px;
  top:694px;
  width:35px;
  height:35px;
}
#u549 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
