body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1084px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:957px;
}
#u1750 {
  position:absolute;
  left:140px;
  top:0px;
  width:446px;
  height:957px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:470px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1753 {
  position:absolute;
  left:178px;
  top:761px;
  width:375px;
  height:60px;
}
#u1754 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1756 {
  position:absolute;
  left:379px;
  top:779px;
  width:25px;
  height:24px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1758 {
  position:absolute;
  left:415px;
  top:784px;
  width:43px;
  height:16px;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1761 {
  position:absolute;
  left:287px;
  top:779px;
  width:26px;
  height:24px;
}
#u1762 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1763 {
  position:absolute;
  left:327px;
  top:783px;
  width:29px;
  height:16px;
}
#u1764 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u1766 {
  position:absolute;
  left:474px;
  top:780px;
  width:22px;
  height:24px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1768 {
  position:absolute;
  left:506px;
  top:784px;
  width:29px;
  height:16px;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1771 {
  position:absolute;
  left:199px;
  top:779px;
  width:26px;
  height:24px;
}
#u1772 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1773 {
  position:absolute;
  left:235px;
  top:783px;
  width:29px;
  height:16px;
}
#u1774 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u1775 {
  position:absolute;
  left:178px;
  top:141px;
  width:375px;
  height:25px;
}
#u1776 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1777 {
  position:absolute;
  left:198px;
  top:225px;
  width:70px;
  height:70px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1779 {
  position:absolute;
  left:293px;
  top:225px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1780 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u1781 {
  position:absolute;
  left:515px;
  top:189px;
  width:25px;
  height:20px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u1783 {
  position:absolute;
  left:439px;
  top:246px;
  width:101px;
  height:29px;
  color:#FFFFFF;
}
#u1784 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1786 {
  position:absolute;
  left:221px;
  top:395px;
  width:57px;
  height:16px;
}
#u1787 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1788 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1789 {
  position:absolute;
  left:338px;
  top:395px;
  width:57px;
  height:16px;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1792 {
  position:absolute;
  left:451px;
  top:395px;
  width:57px;
  height:16px;
}
#u1793 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1794 {
  position:absolute;
  left:180px;
  top:423px;
  width:373px;
  height:1px;
}
#u1795 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1796 {
  position:absolute;
  left:202px;
  top:440px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1797 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1799 {
  position:absolute;
  left:227px;
  top:521px;
  width:43px;
  height:16px;
}
#u1800 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1801 {
  position:absolute;
  left:233px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1802 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1804 {
  position:absolute;
  left:290px;
  top:521px;
  width:43px;
  height:16px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1806 {
  position:absolute;
  left:296px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  position:absolute;
  left:353px;
  top:521px;
  width:43px;
  height:16px;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1811 {
  position:absolute;
  left:359px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814 {
  position:absolute;
  left:416px;
  top:521px;
  width:43px;
  height:16px;
}
#u1815 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1816 {
  position:absolute;
  left:422px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:485px;
  top:521px;
  width:29px;
  height:16px;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1821 {
  position:absolute;
  left:485px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1823 {
  position:absolute;
  left:447px;
  top:442px;
  width:97px;
  height:16px;
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
.u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
.u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  font-size:16px;
  text-align:left;
}
.u1827 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u1828 {
  position:absolute;
  left:20px;
  top:7px;
  width:30px;
  height:30px;
  font-size:8px;
}
.u1829 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
.u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
.u1830 {
  position:absolute;
  left:344px;
  top:14px;
  width:12px;
  height:16px;
}
.u1831 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u1832 {
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:1px;
}
.u1833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u1825-2 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:43px;
}
#u1825-3 {
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:43px;
}
#u1825-4 {
  position:absolute;
  left:0px;
  top:129px;
  width:375px;
  height:43px;
}
#u1825-5 {
  position:absolute;
  left:0px;
  top:172px;
  width:375px;
  height:43px;
}
#u1825 {
  position:absolute;
  left:179px;
  top:546px;
  width:377px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:835px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  position:absolute;
  left:708px;
  top:138px;
  width:375px;
  height:835px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:410px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u1836 {
  position:absolute;
  left:707px;
  top:141px;
  width:375px;
  height:25px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1838 {
  position:absolute;
  left:727px;
  top:225px;
  width:70px;
  height:70px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1840 {
  position:absolute;
  left:822px;
  top:225px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1842 {
  position:absolute;
  left:822px;
  top:279px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1843 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u1844 {
  position:absolute;
  left:1044px;
  top:189px;
  width:25px;
  height:20px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1846 {
  position:absolute;
  left:293px;
  top:279px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u1848 {
  position:absolute;
  left:968px;
  top:246px;
  width:101px;
  height:29px;
  color:#FFFFFF;
}
#u1849 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1850 {
  position:absolute;
  left:727px;
  top:440px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:747px;
  top:521px;
  width:43px;
  height:16px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:810px;
  top:521px;
  width:43px;
  height:16px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1856 {
  position:absolute;
  left:873px;
  top:521px;
  width:43px;
  height:16px;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:936px;
  top:521px;
  width:43px;
  height:16px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:1005px;
  top:521px;
  width:29px;
  height:16px;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1862 {
  position:absolute;
  left:753px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1864 {
  position:absolute;
  left:816px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1866 {
  position:absolute;
  left:879px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1868 {
  position:absolute;
  left:942px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1870 {
  position:absolute;
  left:1005px;
  top:481px;
  width:30px;
  height:30px;
  font-size:8px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:972px;
  top:442px;
  width:97px;
  height:16px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
.u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  font-size:16px;
  text-align:left;
}
.u1877 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u1878 {
  position:absolute;
  left:20px;
  top:7px;
  width:30px;
  height:30px;
  font-size:8px;
}
.u1879 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
.u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
.u1880 {
  position:absolute;
  left:344px;
  top:14px;
  width:12px;
  height:16px;
}
.u1881 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u1882 {
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:1px;
}
.u1883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u1875-2 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:43px;
}
#u1875-3 {
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:43px;
}
#u1875-4 {
  position:absolute;
  left:0px;
  top:129px;
  width:375px;
  height:43px;
}
#u1875-5 {
  position:absolute;
  left:0px;
  top:172px;
  width:375px;
  height:43px;
}
#u1875 {
  position:absolute;
  left:708px;
  top:547px;
  width:377px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885 {
  position:absolute;
  left:709px;
  top:772px;
  width:375px;
  height:175px;
  overflow:hidden;
}
#u1885_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:175px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
.u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  font-size:16px;
  text-align:left;
}
.u1888 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u1889 {
  position:absolute;
  left:20px;
  top:7px;
  width:30px;
  height:30px;
  font-size:8px;
}
.u1890 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
.u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
.u1891 {
  position:absolute;
  left:344px;
  top:14px;
  width:12px;
  height:16px;
}
.u1892 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u1893 {
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:1px;
}
.u1894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u1886-2 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:43px;
}
#u1886-3 {
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:43px;
}
#u1886-4 {
  position:absolute;
  left:0px;
  top:129px;
  width:375px;
  height:43px;
}
#u1886-5 {
  position:absolute;
  left:0px;
  top:172px;
  width:375px;
  height:43px;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
}
#u1895 {
  position:absolute;
  left:709px;
  top:547px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1896 {
  position:absolute;
  left:709px;
  top:590px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1897 {
  position:absolute;
  left:709px;
  top:634px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1898 {
  position:absolute;
  left:709px;
  top:676px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1899 {
  position:absolute;
  left:709px;
  top:720px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1900 {
  position:absolute;
  left:708px;
  top:857px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1901 {
  position:absolute;
  left:709px;
  top:901px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1902 {
  position:absolute;
  left:709px;
  top:814px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1903 {
  position:absolute;
  left:707px;
  top:772px;
  width:374px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1905 {
  position:absolute;
  left:346px;
  top:350px;
  width:29px;
  height:16px;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1907 {
  position:absolute;
  left:337px;
  top:326px;
  width:10px;
  height:10px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1909 {
  position:absolute;
  left:352px;
  top:316px;
  width:34px;
  height:24px;
  font-size:20px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  position:absolute;
  left:239px;
  top:350px;
  width:29px;
  height:16px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1914 {
  position:absolute;
  left:231px;
  top:326px;
  width:10px;
  height:10px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1916 {
  position:absolute;
  left:245px;
  top:317px;
  width:34px;
  height:24px;
  font-size:20px;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:454px;
  top:350px;
  width:29px;
  height:16px;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1921 {
  position:absolute;
  left:443px;
  top:326px;
  width:10px;
  height:10px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1923 {
  position:absolute;
  left:458px;
  top:316px;
  width:36px;
  height:24px;
  font-size:20px;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  position:absolute;
  left:494px;
  top:323px;
  width:15px;
  height:16px;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1927 {
  position:absolute;
  left:179px;
  top:376px;
  width:373px;
  height:1px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1929 {
  position:absolute;
  left:304px;
  top:391px;
  width:1px;
  height:22px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1931 {
  position:absolute;
  left:422px;
  top:391px;
  width:1px;
  height:22px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:751px;
  top:395px;
  width:57px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:868px;
  top:395px;
  width:57px;
  height:16px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:981px;
  top:395px;
  width:57px;
  height:16px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1942 {
  position:absolute;
  left:710px;
  top:423px;
  width:373px;
  height:1px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:876px;
  top:350px;
  width:29px;
  height:16px;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1947 {
  position:absolute;
  left:867px;
  top:326px;
  width:10px;
  height:10px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1949 {
  position:absolute;
  left:882px;
  top:316px;
  width:34px;
  height:24px;
  font-size:20px;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:769px;
  top:350px;
  width:29px;
  height:16px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1954 {
  position:absolute;
  left:761px;
  top:326px;
  width:10px;
  height:10px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1956 {
  position:absolute;
  left:775px;
  top:317px;
  width:34px;
  height:24px;
  font-size:20px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:984px;
  top:350px;
  width:29px;
  height:16px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1961 {
  position:absolute;
  left:973px;
  top:326px;
  width:10px;
  height:10px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1963 {
  position:absolute;
  left:988px;
  top:316px;
  width:36px;
  height:24px;
  font-size:20px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:1024px;
  top:323px;
  width:15px;
  height:16px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1967 {
  position:absolute;
  left:709px;
  top:376px;
  width:373px;
  height:1px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1969 {
  position:absolute;
  left:834px;
  top:391px;
  width:1px;
  height:22px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1971 {
  position:absolute;
  left:952px;
  top:391px;
  width:1px;
  height:22px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u1973 {
  position:absolute;
  left:596px;
  top:547px;
  width:95px;
  height:46px;
  text-align:center;
}
#u1974 {
  position:absolute;
  left:0px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
