body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:957px;
}
#u5120 {
  position:absolute;
  left:140px;
  top:0px;
  width:446px;
  height:957px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:470px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u5122 {
  position:absolute;
  left:178px;
  top:138px;
  width:375px;
  height:32px;
}
#u5123 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u5124 {
  position:absolute;
  left:198px;
  top:189px;
  width:16px;
  height:20px;
}
#u5125 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5126 {
  position:absolute;
  left:325px;
  top:190px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5127 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5128 {
  position:absolute;
  left:198px;
  top:238px;
  width:99px;
  height:16px;
}
#u5129 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5130 {
  position:absolute;
  left:198px;
  top:297px;
  width:57px;
  height:16px;
}
#u5131 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5132 {
  position:absolute;
  left:198px;
  top:262px;
  width:332px;
  height:30px;
}
#u5132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5133 {
  position:absolute;
  left:198px;
  top:320px;
  width:332px;
  height:30px;
}
#u5133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5134 {
  position:absolute;
  left:198px;
  top:388px;
  width:332px;
  height:40px;
  font-size:16px;
}
#u5135 {
  position:absolute;
  left:2px;
  top:10px;
  width:328px;
  word-wrap:break-word;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  position:absolute;
  left:629px;
  top:238px;
  width:99px;
  height:16px;
}
#u5137 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5138 {
  position:absolute;
  left:629px;
  top:297px;
  width:57px;
  height:16px;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5140 {
  position:absolute;
  left:629px;
  top:262px;
  width:332px;
  height:30px;
}
#u5140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5141 {
  position:absolute;
  left:629px;
  top:320px;
  width:332px;
  height:30px;
}
#u5141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5142 {
  position:absolute;
  left:629px;
  top:388px;
  width:332px;
  height:40px;
  font-size:16px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:10px;
  width:328px;
  word-wrap:break-word;
}
